* {
    font-family: "Merriweather", Georgia, "Times New Roman";
}

body{
    text-align: center;
    margin-top: 50px;
}

main {
    text-align: center;
    margin-top: 50px;
}

input {
    font-size: 16px;
}

button {
    font-size: 16px;
}

.finished-password {
    margin-top: 20px;
    font-size: 18px;
}